
body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: orange;
}

.bg-red {
    background-color: rgb(192, 14, 14);
}

.bg-blue {
    background-color: rgb(12, 59, 135);
}

.row {
    height: 50vh;
}