
.container {
    background-color: orange;
    color: white;
}

.container-fluid {
    background-color: purple;
    color: white;
}

.bg-red {
    background-color: rgb(192, 14, 14);
}

.bg-blue {
    background-color: rgb(12, 59, 135);
}